.user-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2rem 0;
  /* border: 1px solid red; */
}

img {
  width: 150px;
  height: 150px;

  object-fit: cover;
  object-position: center;
  /* margin-bottom: .8rem;
  margin-top: 180px; */
  /* border: 4px solid silver; */
}

.user-profile h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.user-profile p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.user-profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-profile li {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.user-profile li strong {
  font-weight: 700;
  margin-right: 0.5rem;
}
